.clock {
  width: 100%;
  min-width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.clock h1 {
  font-size: 150px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 1% 2%;
  box-shadow: inset 3px 3px 6px 0 rgba(0, 0, 0, 0.25),
    inset -3px -3px 6px 0 rgba(255, 255, 255, 0.25);
  text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3), 6px -2px 12px rgba(0, 0, 0, 0.2),
    -6px -6px 12px rgba(255, 255, 255, 0.2),
    -6px 1px 12px rgba(255, 255, 255, 0.1);
}

.clock > div {
  display: flex;
  align-items: center;
  width: 30%;
  position: relative;
}

.clock__setting {
  font-size: 26px;
  user-select: none;
  opacity: 0;
  display: flex;
  justify-content: flex-start;
}
.clock__setting:hover {
  opacity: 1;
}
.clock__setting > span {
  cursor: pointer;
}

.clock__setting-toggle {
  font-size: 14px;
  position: absolute;
  top: 120%;
  left: 5%;
  width: 160px;
  height: 36px;
  background-color: #0c150e;
  border-radius: 12px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toggle-outer {
  width: 40px;
  height: 20px;
  border-radius: 15px;
  background-color: rgb(71, 211, 71);
  position: relative;
  transition: all 0.2s ease-in-out;
}

.toggle-inner {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 3px;
  right: 4px;
  transition: all 0.2s ease-in-out;
}

.hour12-outer {
  background-color: #aaa;
}

.hour12-inner {
  left: 3px;
}
