.clock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.clock h1 {
  height: 85%;
  font-size: 16vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 1% 2%;
  box-shadow: inset 3px 3px 6px 0 rgba(0, 0, 0, 0.25),
    inset -3px -3px 6px 0 rgba(255, 255, 255, 0.25);
  text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3), 6px -2px 12px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.2),
    -5px 1px 10px rgba(255, 255, 255, 0.1);
  width: 430px;
}

.clock > div {
  width: calc((100% - 430px) / 2);
  min-width: 22px;
  display: flex;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.clock__icon {
  font-size: 6rem;
  display: flex;
  justify-content: center;
}

.clock .clock__setting {
  font-size: 26px;
  user-select: none;
  display: flex;
  justify-content: flex-start;
}
.clock__setting > span {
  cursor: pointer;
  transition: transform 1s linear;
}

.clock__toggle {
  font-size: 14px;
  position: absolute;
  top: 125%;
  left: -5px;
  width: 160px;
  height: 36px;
  background-color: var(--menu-background-color);
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.clock__toggle::after {
  content: '';
  width: 10px;
  height: 10px;
  top: -4px;
  left: 7%;
  transform: rotateZ(45deg);
  position: absolute;
  background-color: var(--menu-background-color);
  z-index: 10;
}

.toggle-outer {
  width: 40px;
  height: 20px;
  border-radius: var(--border-radius);
  background-color: rgb(71, 211, 71);
  position: relative;
  transition: all 0.2s ease-in-out;
}

.toggle-inner {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 3px;
  right: 4px;
  transition: all 0.2s ease-in-out;
}

.hour12-outer {
  background-color: #aaa;
}

.hour12-inner {
  left: 3px;
}
