.modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__background-blur {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px) grayscale(20%);
}

.modal__window {
  position: absolute;
  border-radius: 20px;
  width: 400px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px 10px 30px;
}

.modal__content {
  color: #fff;
  font-size: 20px;
}

.modal__button {
  align-self: flex-end;
}

.modal__button input {
  width: 60px;
  height: 35px;
  font-size: 0.8em;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  padding: 3px 5px;
  margin: 2px;
}

.modal__button input:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}
.modal__button input:active {
  background: rgba(255, 255, 255, 0.3);
  color: #000;
}
