:root {
  --logout-box-shadow: inset 3px 3px 6px 0 rgba(0, 0, 0, 0.25),
    inset -3px -3px 6px 0 rgba(255, 255, 255, 0.25);
  --logout-width: clamp(400px, 50%, 600px);

  --menu-background-color: #0c150e;
  --button-border: 1px solid rgba(255, 255, 255, 0.3);

  --border-radius: 15px;
}
