.setting {
  user-select: none;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 26px;
}
.setting__icon {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.setting__menu {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: #fff;
}
