.setting {
  user-select: none;
  position: relative;
  top: 5px;
  left: -10px;
  font-size: 26px;
  display: flex;
  align-items: center;
  width: 32%;
  min-width: 155px;
  opacity: 0.4;
}

.setting > p {
  cursor: pointer;
  font-size: 0.8rem;
}

.setting__icon {
  cursor: pointer;
  height: 30px;
  width: 30px;
  transition: transform 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting__menu {
  font-size: 1rem;
  width: 200px;
  background-color: var(--menu-background-color);
  border-radius: 10px;
  color: #fff;
  display: flex;
  position: absolute;
  top: 30px;
  left: -4px;
  z-index: 10;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
}

.setting__menu::after {
  content: '';
  width: 10px;
  height: 10px;
  top: -4px;
  left: 7%;
  transform: rotateZ(45deg);
  position: absolute;
  background-color: var(--menu-background-color);
}

.setting__menu > * {
  margin: 4px 10px;
}

.setting__menu form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting__menu form > input,
.setting__menu form > label {
  cursor: pointer;
}

.setting__menu input[type='color'] {
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
}

.buttons {
  align-self: center;
}

.buttons input {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  border: var(--button-border);
  border-radius: 5px;
  padding: 1px;
}

.buttons input:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}
.buttons input:active {
  background: rgba(255, 255, 255, 0.3);
  color: #000;
}
