@import url(reset.css);
@import url(clock.css);
@import url(todo.css);
@import url(setting.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.deleted {
  visibility: hidden;
  display: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.transparent {
  opacity: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
