@import url(reset.css);
@import url(clock.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
