.cutline {
  text-decoration: line-through;
  opacity: 0.4;
}

.dragged {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.3);
}

.drag-over {
  background: rgba(0, 0, 0, 0.3);
}

.todo {
  padding: 1vw;
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.todo h2 {
  width: 98%;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3),
    -4px -4px 8px 0 rgba(255, 255, 255, 0.2);
  height: clamp(40px, 5vh, 60px);
  margin-bottom: 1vh;
}

.todo__form {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo__form__input {
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: inset 4px 4px 8px 0 rgba(0, 0, 0, 0.5),
    inset -4px -4px 8px 0 rgba(200, 200, 200, 0.4);
  border: 0;
  outline: none;
  width: 100%;
  height: clamp(30px, 3.5vh, 40px);
  position: relative;
  padding: 0 0.8vw;
}

#todo__form__input::placeholder {
  opacity: 0.7;
}

.todo__list-container {
  margin: 2vh 0;
  width: 95%;
  position: absolute;
  top: 6vh;
  height: 78%;
  overflow: hidden;
}

.todo__list-container:hover {
  overflow-y: auto;
}

.todo__list-container li {
  font-size: 1.2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
}

.todo__list-container li span {
  width: 90%;
  margin-left: min(1vw, 5px);
  display: block;
  word-break: break-word;
  line-height: normal;
}

.todo__list-container li button {
  visibility: hidden;
}

.todo__list-container li:hover {
  background: rgba(0, 0, 0, 0.2);
}

.todo__list-container li:hover button {
  visibility: visible;
}

.todo__list-container li input {
  cursor: pointer;
}

.input-time {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 0.8rem;
  padding: 4px;
  border-radius: 4px;
  bottom: -20px;
  right: 0;
  width: 130px;
  text-align: center;
  z-index: 1;
}

.todo__list-container li:hover .input-time {
  display: block;
  visibility: visible;
}
